In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("FuelConsumption.csv")

df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [15]:
cdf = df[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_COMB','CO2EMISSIONS']]
cdf.tail()

      ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB  CO2EMISSIONS
1062         3.0          6                  11.8           271
1063         3.2          6                  11.5           264
1064         3.0          6                  11.8           271
1065         3.2          6                  11.3           260
1066         3.2          6                  12.8           294

In [4]:
X = cdf.drop("CO2EMISSIONS", axis=1)
y = cdf["CO2EMISSIONS"]

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

<h2 id="Linear regression">Linear regression</h2>

In [6]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

LinearRegression()

In [7]:
y_pred = linear_reg.predict(X_test)

In [8]:
from sklearn.metrics import mean_squared_error
import numpy as np
error = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE for Linear regression =" , error)

RMSE for Linear regression = 23.300570304829606

<h2 id="Polynomial regression">Polynomial regression</h2>

In [9]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)

train_x_poly = poly.fit_transform(X_train)

train_x_poly

array([[  1.  ,   1.6 ,   4.  , ...,  16.  ,  32.4 ,  65.61],
       [  1.  ,   3.  ,   6.  , ...,  36.  ,  61.8 , 106.09],
       [  1.  ,   2.5 ,   4.  , ...,  16.  ,  29.2 ,  53.29],
       ...,
       [  1.  ,   4.4 ,   8.  , ...,  64.  , 110.4 , 190.44],
       [  1.  ,   1.8 ,   4.  , ...,  16.  ,  34.4 ,  73.96],
       [  1.  ,   5.6 ,   8.  , ...,  64.  , 138.4 , 299.29]])

In [10]:
train_x_poly.shape

(714, 10)

In [11]:
from sklearn import linear_model
clf = linear_model.LinearRegression()
train_y_ = clf.fit(train_x_poly, y_train)
# The coefficients
print ('Coefficients: ', clf.coef_)
print ('Intercept: ',clf.intercept_)

Coefficients:  [  0.          -0.18682791 -11.37843107  30.90551528   2.73238177
  -8.93048812   3.51479248   1.92635951   1.95516296  -1.67898902]
Intercept:  7.084635013678394

In [12]:
test_x_poly = poly.fit_transform(X_test)
y_predicted = clf.predict(test_x_poly)

In [13]:
errorp = np.sqrt(mean_squared_error(y_test, y_predicted))
print("RMSE for Polynomial regression =" , errorp)

RMSE for Polynomial regression = 18.97394389338902

<h2 id="RMSE comparison">RMSE comparison</h2>

In [14]:
print("RMSE for Linear regression =" , error)
print("RMSE for Polynomial regression =" , errorp)

RMSE for Linear regression = 23.300570304829606
RMSE for Polynomial regression = 18.97394389338902